<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491558500868-mgmn7ktuo212oufsn53rb93h3va6d3sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491558500868-mgmn7ktuo212oufsn53rb93h3va6d3sb</string>
	<key>API_KEY</key>
	<string>AIzaSyDCxQh60-3tQoHIKPXIZFEaPUilK4jWn_8</string>
	<key>GCM_SENDER_ID</key>
	<string>491558500868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dijinx.qurbani</string>
	<key>PROJECT_ID</key>
	<string>qurbani-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>qurbani-tracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491558500868:ios:cc7e16d9794ad85241d351</string>
</dict>
</plist>